.Open {
    width: 200px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    background: rgb(64,199,129);
    box-shadow: -1px -1px rgb(53, 167, 110) inset;
    transition: 0.4s;
    padding: 10px;
    display: block;
    margin: auto;
}

.Open:hover {
    box-shadow: 0 -70px rgba(53, 255, 161, 0.43) inset;
}